<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReportNG" />
	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="org.qa.tests.Calc1" />
			<class name="org.qa.tests.Calc3" />
			<class name="org.qa.tests.Calc2" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
